@use "variables" as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: v.$fuente_principal;
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: v.$negro;
}

p {
  color: v.$negro;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: v.$morado;
}

h1,
h2,
h3 {
  font-family: v.$fuente_principal;
  font-weight: 400;
  margin: 0;
  color: v.$claro;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3.2rem;
}

//botones
.btn-transparente {
  background-color: v.$verde;
  color: #c4cbf2;
  padding: 1rem;
  border-color: v.$violeta;
  border-radius: 17px;
  font-weight: 300;
  font-size: 2.4rem;
  margin-left: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: v.$claro;
    color: v.$violeta;
  }
}

.btn-morado {
  background-color: v.$morado;
  color: v.$claro;
  padding: 2rem;
  border-color: v.$violeta;
  border-radius: 5px;
  font-weight: 300;
  font-size: 2.4rem;
  cursor: pointer;
  border: 2px solid v.$violeta;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: v.$claro;
    color: v.$violeta;
  }
}

.titles{

  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin: 8rem 0;
}